html {
    scroll-behavior: smooth;
  }

body {
    color: blanchedalmond;
    background-color:rgb(25, 25, 25);
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-smooth: auto;
}

a {
    color: blanchedalmond;
    text-underline-offset: 4px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.a-style-p {
    color: blanchedalmond;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 170%;
}

a:hover {
    color: pink;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.title-lottery {
    text-decoration: underline;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer
}

.top-link {
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 2rem;
}

.h2-nopad {
    margin-bottom: 2rem;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 170%;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 0;
    margin-top: 0;
}

.p-small {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.logotype {
    font-family: "jaf-herb", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 3em;
    text-transform: lowercase;
    line-height: 0;
}

.xp-chip {
    font-size: 0.8rem;
    background-color: rgb(56, 52, 52);
    display: flex;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    letter-spacing: 1px;
}

.xp-chip-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    gap: 0.5rem;
}

.video-preview {
    width: 100%;
    margin-top: 24px;
}


.content-section {
    padding-top: 10rem;
}

.content-block {
    padding-top: 8rem;
}

.feedback-area {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.xp-entry {
    padding-bottom: 4rem;
}

.offcanvas-style {
    background-color: rgb(25, 25, 25);
}

.offcanvas-p {
    font-size: 16px;
}

.offcanvas-caption {
    font-size: 0.75rem;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.offcanvas-heading {
    font-family: 'Work Sans', sans-serif;
}

.asset-group {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.asset-nopad {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.asset-caption {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    padding: 0;
    width: auto;
}

.asset-caption p {
    width: 100%;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.inline-link-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 1rem 0;
}

.ul-offcanvas {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
    padding-left: 1rem;
}

.ul-offcanvas li {
    list-style: circle;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.work-sample-list {
    margin-top: 1rem;
}

.work-sample-list li {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 200;
}

.caption-text {
    font-family: 'Helvetica', sans-serif;
}

.right-aligned {
    text-align: right;
}

.asset-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link-pill {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    border-radius: 40px;
    background-color: rgb(25, 25, 25);
    outline: solid 1px blanchedalmond;
    padding: 0.5rem 1rem;
    text-decoration: none;
    outline-offset: -1px;
}

.link-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
}

.small-i {
    margin-left: 0.3rem;
}

.link-pill i {
    padding-right: 0.5rem;
}

.link-pill:hover {
    color: blanchedalmond;
    color: rgb(25, 25, 25);
    background-color: blanchedalmond;

}

.link-pill:focus {
    color: blanchedalmond;
    color: rgb(25, 25, 25);
    background-color: blanchedalmond;

}

.pill-offcanvas {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.ul-offcanvas {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
}

.ul-offcanvas li {
    list-style: circle;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

a i {
    margin-left: 2px;
}

.spacer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.offcanvas-img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.pill-group {
    margin-top: 2rem;
}

.pill-list {
    margin-top: 0.5rem;
}

.feedback-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #FCECD0;
    background: #191919;
    box-shadow: 8px 8px 0px 2px #FCECD0;
}

.col-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.p-author {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 2rem 0;
}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 48px;
    }

    .content-section {
        padding: 10rem 2rem 0 2rem;
      }
  }