html {
    scroll-behavior: smooth;
  }

body {
    color: blanchedalmond;
    background-color:rgb(25, 25, 25);
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-smooth: auto;
}

a {
    color: blanchedalmond;
    text-underline-offset: 2px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
}

a:hover {
    color: pink;
}

section {
    margin-bottom: 16vh;
}

.divider {
    margin-bottom: 8vh;
    text-align: center;
}

.icon-margin {
    margin-right: 8px;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 4vh;
}

.title-lottery {
    text-decoration: underline;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer
}

.title-lottery:hover {
    color: pink;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    line-height: 0%;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 4vh;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 16px;
}

p {
    font-size: 20px;
    line-height: 175%;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
}

.top-highlight {
    font-size: 1.5em;
}

.column-highlight {
    font-size: 32px;
    line-height: 150%;
    font-weight: 400;
    width: 100%;
    padding-right: 40px;
}

.triple-highlight {
    width: 100%;
}


li {
    font-size: 1.125em;
    list-style: none;
    font-weight: 400;
    margin-bottom: 1vh;
    margin-left: none;
}

.list-no-margin {
    padding: 0px;
}

.logotype {
    font-family: "jaf-herb", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 3em;
    text-transform: lowercase;
    line-height: 0;
}

.top-navigation {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 16vh;
    margin-bottom: 8vh;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.nav-links li {
    list-style: none;
    margin-right: 16px;
}

.nav-link-item {
    font-size: 20px;
    line-height: 0%;
}

.special-link {
    font-size: 32px;
    display: inline-block;
    font-weight: 300;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    cursor: pointer;
    vertical-align: text-top;
}

.special-heading {
    font-size: 32px;
    display: inline-block;
    font-weight: 300;
    vertical-align: text-top;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 0px;
}

.special-link:hover {
    color: rgb(157, 128, 112);
}

.special-link i {
   display: inline-block;
}

.special-link:hover i {
    transform: translateX(25%);
}


.subtitle {
    font-size: 18px;
    line-height: 150%;
    font-weight: 300;
    color: rgb(25, 25, 25);
    margin-top: 8px;
    margin-bottom: 8px;
}

.description {
    font-size: 28px;
    font-weight: 300;
    line-height: 150%;
    margin-top: 8px;
}

.experience {
    margin-bottom: 32px;
}

.footer-text {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer {
    text-align: center;
    margin: 24px;
}

.margin-link {
    margin-bottom: 12px;
}

.video-preview {
    width: 100%;
    margin-top: 24px;
}

.experience-section {
    background-color: blanchedalmond;
    padding-top: 12vh;
    padding-bottom: 12vh;
    color:rgb(25, 25, 25);
}

.experience-section a {
    color:rgb(25, 25, 25);
}

.asset-caption {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    padding: 0;
    width: auto;
}

.asset-caption p {
    width: 100%;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 4px;
}

.caption-text {
    font-family: 'Helvetica', sans-serif;
}

.right-aligned {
    text-align: right;
}

.read-more {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.read-more p {
    margin-bottom: 0;
    font-weight: 400;
}


.offcanvas-style {
    background-color: rgb(25, 25, 25);
}

.offcanvas-p {
    font-size: 16px;
}

.offcanvas-caption {
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.offcanvas-heading {
    font-family: 'Work Sans', sans-serif;
}

.link-pill {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 40px;
    background-color: rgb(25, 25, 25);
    outline: solid 1px blanchedalmond;
    padding: 8px 16px;
    text-decoration: none;
    outline-offset: -1px;
}

.link-pill i {
    padding-right: 8px;
}

.link-pill:hover {
    color: blanchedalmond;
    color: rgb(25, 25, 25);
    background-color: blanchedalmond;

}

.link-pill:focus {
    color: blanchedalmond;
    color: rgb(25, 25, 25);
    background-color: blanchedalmond;

}

.pill-offcanvas {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-block;
}

.ul-offcanvas {
    font-size: 16px;
    line-height: 150%;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
}

.ul-offcanvas li {
    list-style: circle;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 16px;
}

a i {
    margin-left: 2px;
}

.spacer {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.offcanvas-img {
    width: 100%;
    margin-bottom: 16px;
}

.pill-group {
    margin-top: 32px;
}

.pill-list {
    margin-top: 8px;
}

.asset-section {
    margin-bottom: 32px;
}

.slight {
    color: blanchedalmond;
}


.work-sample-list {
    margin-top: 16px;
    margin-bottom: 32px;
}

.work-sample-list li {
    font-size: 18px;
    line-height: 150%;
    font-weight: 200;
}